<!--one flat-->
<a href="/advertisements/{{adv.id}}">
  <div class="flat_page">
    <div class="flat_page__inner">
      <div class="images">
        <div class="big_image">
          <div class="slideshow-container slider" id="div{{adv.id}}">

              {{#each adv.images}}
                  <div class="numbertext">{{math @index '+' 1}}/ {{../adv.images.length}}</div>
                      <img alt="" class="adv_list_item_mySlides" src="{{this}}">
              {{/each}}

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusDivs(this, -1)">&#10094;</a>
            <a class="next" onclick="plusDivs(this, 1)">&#10095;</a>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="info__without_full_description">
          <div class="info__without_full_description__and_developer">
            <a class="name" href="/advertisements/{{adv.id}}">
              <p class="info__name__inner">{{adv.area}} м<sup>2</sup>, {{adv.roomCount}}-комнатная
                квартира</p>
            </a>
            <a class="description" href="/advertisements/{{adv.id}}">
              <div class="additional_info">
                <p>{{adv.floorNumber}} этаж из {{adv.totalFloorNumber}}
                  <br />
                    {{adv.location}}
                  <br />
                    м&nbsp{{adv.metroStation}}</p>
              </div>
              <div class="flat_price">
                <span class="flat_price__overall">{{adv.price}}₽
                  <br />
                  <span class="price_per_meter">{{adv.pricePerMeter}} за м<sup>2</sup>
                  </span>
                </span>

              </div>
            </a>
            <div class="flats_list_buttons">
              <a class="phone_number" id="phone_number_1">Показать телефон</a>
              <button class="favourites favourites_button">Добавить в избранное</button>
            </div>
          </div>
        </div>
        <div class="flat_page__full_description">
          <p class="flat_page__info__full_description__heading">Описание</p>
          <p class="flat_page__info__full_description__text">
              {{adv.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="flat_page__description">
      <p class="flat_page__info__full_description__heading">Описание</p>
      <p class="flat_page__info__full_description__text">
          {{adv.description}}
      </p>
    </div>
  </div>
</a>